@model ProductModel;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("List")"><i class="fa fa-arrow-left"></i> Go Back to List</a></li>
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">

                            @await Html.PartialAsync("_CreateOrUpdate", Model)

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>