################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BarcodeApp/config/applicationhost.config
/.vs/BarcodeApp/DesignTimeBuild/.dtbcache
/Web/CustomerWeb/wwwroot/Images
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide-wal
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide-shm
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide
/.vs/BarcodeApp/v16/Server/sqlite3/db.lock
/Web/CustomerWeb/obj/Release/netcoreapp2.2
/Framework/obj/Release/netcoreapp2.2
/.vs/BarcodeApp/v16
/Framework/bin/Release/netcoreapp2.2
/Libraries/Core/bin/Release/netstandard2.0
/Libraries/Core/obj/Release/netstandard2.0
/Web/CustomerWeb/bin/Release/netcoreapp2.2
/Libraries/Services/obj/Release/netstandard2.0
/Libraries/Data/bin/Release/netstandard2.0
/Libraries/Data/obj/Release/netstandard2.0
/Libraries/Services/bin/Release/netstandard2.0
/Libraries/Framework/obj/Release/netcoreapp2.2
/Libraries/Framework/obj/Debug/netcoreapp2.2
/Libraries/Framework/bin/Release/netcoreapp2.2
/Libraries/Framework/bin/Debug/netcoreapp2.2
