################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BarcodeApp/v16
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide-wal
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide-shm
/.vs/BarcodeApp/v16/Server/sqlite3/storage.ide
/.vs/BarcodeApp/v16/Server/sqlite3/db.lock
/.vs/BarcodeApp/config/applicationhost.config
/.vs/BarcodeApp/DesignTimeBuild/.dtbcache
/Web/CustomerWeb/obj/*
/Web/CustomerWeb/bin/*
/Web/CustomerWeb/wwwroot/Images
/Framework/obj/*
/Framework/bin/*
/Libraries/Core/bin/*
/Libraries/Core/obj/*
/Libraries/Data/bin/*
/Libraries/Data/obj/*
/Libraries/Framework/obj/*
/Libraries/Framework/bin/*
/Libraries/Services/obj/*
/Libraries/Services/bin/*